@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
a{
    text-decoration: none;
}
:root{
    --font-Jost:"Jost", sans-serif;
    --font-Roobot: "Roboto", sans-serif;
    --color-main:#13357B !important;
    --ligth-gray:#F2F2F2 !important;
    --dark-blue:#14141F !important;
    --sky-blue:#0DCAF0 !important;
    --orang-yellow:#FFC107 !important;
}
.page-head{
    max-width: 900px;
    margin: auto;
}
.page-head p{
    line-height: 1.7;
}
.jost{
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
}
.roboto{
    font-family: "Roboto", sans-serif;
    font-style: normal;
}
.top-nav{
    background-color: var(--color-main);
}

.main-navbar{
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid rgba(200, 200, 200, 0.741);
}
.main-navbar .navbar-nav li .nav-link{
    color: white !important;
    font-size: 17px;
    padding: 35px 15px ;
}
.over-layer{
    background-color: var(--color-main);
    transform: translateY(100%);
    transition: .5s;
}
.main-navbar .navbar-nav li:hover .over-layer{
    transform: translateY(0%);
}
.nav-item .dropdown-menu li .nav-link{
    color: black !important;
    font-family: var(--font-Roobot);
    font-weight: 500;
}
.nav-item .dropdown-menu li .dropdown-item:hover{
    background-color: var(--color-main);
    color: white !important;
}
.main-navbar .navbar-brand{
    font-size: 2.5rem;
    font-family: var(--font-Jost);
    font-weight: 500;
}
.navbar-nav li:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-main{
    background-color: var(--color-main);
    color: white;
    transition: .4s;
    font-weight: bold;
    overflow: hidden;
    border: 2px solid var(--color-main);
    position: relative;
    z-index: 0;
}
.btn-main:hover{
    border: 2px solid var(--color-main);
}
.btn-main::after{
    position: absolute;
    background-color: var(--color-main);
    content: "";
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    transition: .4s;
    z-index: -1;
    border-radius: 40px;
}
.btn-main:hover{
    background-color: white !important;
    color: var(--color-main);
}
.btn-main:hover::after{
    transform: translateX(100%);
}
.search-sec{
    top: -50%;
    transform: translateY(-50%);
}
.search-sec form{
    background-color: rgba(19, 54, 123, 0.8);
}
.search-sec button{
    right: 46px;
}
.about-h5{
    position: relative !important;
    display: inline-block;
    font-size: 1.25rem;
    /* font-size:40px; */
    color: var(--color-main);
    text-transform: uppercase;
}
.about-img img{
    border: 50px solid;
    border-color: transparent;
    border-left-color:var(--color-main) ;
    border-right-color:var(--color-main) ;
}
.about-content{
    background-image:linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) , rgba(255, 255, 255, 0.8)),  url(../img/about-img-1.png) ;
    /* background-size: cover; */
}
.about-h5::after{
    content: "";
    position: absolute;
    background-color: var(--color-main);
    height: 2px;
    width: 50px;
    top: 50%;
    transform: translateY(-50%);
    right: -55px;
}
.about-content h2 span{
    color: var(--color-main);
}
.carousel .navbar-nav .nav-item-box{
    position: relative;
}
.carousel .navbar-nav .nav-item-box::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 0%;
    left: 0;
    background-color: var(--color-main);
    z-index: -2;
    transition: .5s;
    bottom: 0;
}
.carousel .navbar-nav .nav-item-box:hover::before{
    height: 100%;
}
.carousel .navbar-nav .nav-dropdown-box:hover{
    overflow: visible !important;
}
.carousel .navbar-nav .dropdown .dropdown-menu{
    transition: .3s;
}
.carousel .navbar-nav .dropdown:hover .dropdown-menu{
    display: block;
    transform: translateY(2px);
}
.carousel-caption{
    background-color: rgba(0, 0, 0, 0.5);
}
.carousel-caption .hero-title{
    font-size: 24px;
    font-family: var(--font-Jost);
    font-weight: 500;
}
.carousel-caption .hero-big-title{
    font-size: 72px;
    font-family: var(--font-Jost);
    font-weight: 700;
}
.carousel-caption .hero-par{
    font-size: 20px;
    font-family: var(--font-Roobot);
    font-weight: 500;
}
.carousel-caption .content{
    width: 60%;
}
.carousel .carousel-control-next-icon{
    background-color: rgba(19, 54, 123) !important;
    padding: 20px;
    padding-left: 40px;
}
.carousel .carousel-control-prev-icon{
    background-color: rgba(19, 54, 123) !important;
    padding: 20px;
    padding-left: 40px
}
.section-title{
    position: relative !important;
    display: inline-block;
    font-size: 1.25rem;
    /* font-size:40px; */
    color: var(--color-main);
}
.section-title::after{
    content: "";
    position: absolute;
    background-color: var(--color-main);
    height: 2px;
    width: 50px;
    top: 50%;
    transform: translateY(-50%);
    right: -55px;
}
.section-title::before{
    content: "";
    position: absolute;
    background-color: var(--color-main);
    height: 2px;
    width: 50px;
    top: 50%;
    transform: translateY(-50%);
    left: -50px;
    font-family: var(--font-Jost);
}
.page-head .big-title{
    font-size:40px !important;
    /* font-size:40px; */
    font-family: var(--font-Jost);
    font-weight: 500;
}
.border-primary-main{
    border: 1px solid var(--color-main);
}
.services .services-content h5{
    font-size: 20px;
}
.services .services-icon{
    font-size: 70px;
    color: var(--color-main);
}
.services .box{
    background-color: white;
    transition: .3s;
}
.services .box:hover {
    background-color: var(--color-main);
    color: white !important;
}
.services .box i{
    transition: .3s;
}
.services .box:hover i{
    color: white !important;
}
.destination .nav .nav-link{
    border: 1px solid var(--color-main) !important;
    width: 150px !important;
    color: black;
}
.destination .nav .active{
    background-color: var(--color-main) !important;
    color: white !important;
}
.destination-img{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    background-color: var(--color-main);
}
.destination-img .img img{
    width: 100%;
    transition: .5s;
}
.destination-img:hover img{
    transform: scale(1.2);
    opacity: .5;
}
.destination .layer{
    position: absolute;
    bottom: -100%;
    left: 0;
    transition: .5s;
}
.destination-img:hover .layer{
    bottom: 0%;
}
.destination .layer .btn-main{
    border: 1px solid white !important;
    margin-bottom: 10px;
}
.destination .layer h4{
    color: white;
    font-size: 24px;
    font-family: var(--font-Jost);
}
.destination .layer .layer-link{
    color: white;
    transition: .3s;
}
.destination .layer .layer-link:hover{
    color: blue;
}
.destination .search-icon{
    position: absolute;
    top: 15px;
    right: 20px;
    border-radius: 50%;
    font-size: 16px;
    padding: 20px;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .5s;
    
}
.destination-img:hover .search-icon{
    opacity: 1;
}
.destination-img > .btn-main{
    background-color:var(--color-main) !important;
    color: var(--color-main);
    transition: .4s;
    font-weight: bold;
    overflow: hidden;
    border: 2px solid white;
    z-index: 0;
}
.destination-img > .btn-main:hover{
    
    color: white;
}
.destination-img > .btn-main::after{
    position: absolute;
    background-color: white;
    content: "";
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    transition: .1s;
    z-index: -1;
    border-radius: 40px;
}
.destination-img > .btn-main:hover::after{
    transform: translateX(100%);
}
.explore .page-head{
    max-width: 900px;
}
.explore .page-head p{
    line-height: 1.7;
}
.explore .nav{
    width: 500px;
    margin: auto;
}
.explore .nav .nav-link{
    border: 1px solid var(--color-main) !important;
    width: 150px !important;
    color: black;
    width: fit-content !important;
}
.explore .nav .active{
    background-color: var(--color-main) !important;
    color: white !important;
}
.tour_item{
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--color-main);
}
.tour_item img{
    width: 100%;
    transition: .5s;
}
.tour_item:hover img{
    opacity: .5;
    transform: scale(1.2);
}
.tour_item:hover .tour_layer{
    background-color:transparent;
}
.tour_layer{
    padding: 20px !important;
    background-color: rgba(0, 0, 0, 0.295);
}
.tour_layer{
    display: flex;
    justify-content: center;
    align-items: end;
    transition: .5s;
    text-align: center;
}
.tour_content{
    color: white;
    width: fit-content;
}
.tour_content h4{
    color: white;
    font-size: 24px;
    font-family: var(--font-Jost);
}
.tour_content .layer-link{
    color: white;
    transition: .3s;
}
.tour_content .layer-link:hover{
    color: blue;
}
.tour_item .icon i{
    font-size: 45px;
    color:white;
    font-weight: bold;
    opacity: 0;
    transition: .3s;
}
.tour_item:hover .icon i{
    opacity: 1;
}
.tour_item .offer{
    padding: 20px;
    color: white;
    top: -1px;
    left: -1px;
    background-color: var(--orang-yellow);
    border-top-right-radius: 40px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 80px;
}
.tour_item #off1{
    background-color: #0DCAF0;
}
.subscribe{
    background-image: linear-gradient(rgba(19, 54, 123, 0.5),rgba(19, 54, 123, 0.5),rgba(19, 54, 123, 0.5)),url(../img/subscribe-img.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.subscribe input{
    outline: none;
    border: 1px solid var(--color-main);
}
.subscribe .section-title{
    color: white;
}
.subscribe .section-title::before,
.subscribe .section-title::after{
    background-color: white;
}
/* .subscribe .page-head{
    max-width: 900px;
} */
.gallery .nav{
    max-width: 1000px;
    margin: auto;
}
.gallery .nav .nav-link{
    border: 1px solid var(--color-main) !important;
    width: 150px !important;
    color: black;
}
.gallery .nav .active{
    background-color: var(--color-main) !important;
    color: white !important;
}
.gallery .tour_item{
    position: relative;
    height: 300px;
}
.gallery .tour_item img{
    height: 100%;
    width: 100%;
}
.gallery .tour_content{
    position: absolute;
    bottom: -100%;
    transition: .5s;
}
.gallery .tour_item:hover .tour_content{
    bottom: 20px;
}

.gallery .row > div{
    padding: 5px !important;
}
.booking{
    background-image: linear-gradient(rgba(19, 54, 123, 0.7), rgba(19, 54, 123, 0.7)) ,url(../img/tour-booking-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white !important;
}
.booking .booking-content .about-h5{
    color: white;
}
.booking .booking-content .about-h5::after{
    background-color: white;
}
.booking .booking-content .btn-main{
    background-color: var(--color-main) !important;
    color: var(--color-main);
}
.booking .booking-content .btn-main::after{
    background-color: white !important;
}
.booking .booking-content p{
    font-family: var(--font-Jost);
}
.booking .booking-content .btn-main:hover{
    border: 2px solid var(--color-main);
    color: white !important;
}
.booking .row:first-child > div{
    margin-top: 48px;
}
.booking form .form_item{
    border-radius: 10px;
    width: 100%;
    outline: none;
    border: none;
    padding: 16px 12px !important;
}

.booking form .form-select{
    padding: 26px 12px 10px !important;
}

/* .booking form .btn-main{
    padding:16px 12px !important;
} */
.booking form .btn-main::after{
    border-radius: 10px;
}
.guide .guide_item {
    border-radius: 10px;
    overflow: hidden;
}
.guide .guide_item .guide_img{
    /* overflow: hidden; */
    position: relative;
}
.guide .guide_item .guide_img img{
    width: 100%;
    transition: .3s;
}
.guide .guide_item:hover .guide_img img{
    transform: scale(1.1);
}
.guide .guide_item .guide_text{
    width: 100%;
}
.guide .guide_inner_text{
    transition: .2s;
}
.guide .guide_inner_text h3{
    font-size: 24px;
}
.guide .guide_inner_text h4{
    font-size: 16px;
}
/* FIXME: */
.social_links{
    
    left: 50%;
    transform: translate(-50%);
    bottom: -30px;
    border: 1px solid var(--color-main);
    display: flex;
    justify-content: space-evenly;
}
.social_links a{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 40px;
    height: 40px;
    margin: 0px 5px;
    background-color: var(--color-main);
    border-radius: 50%;
    transition: .3s;
    border: 1px solid var(--color-main);
}
.social_links a:hover{
    color: var(--color-main);
    background-color: white !important;
}
.guide_img::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(19, 54, 123, 0.4);
    z-index: 1;
    transform: translateY(-100%);
    transition: .3s;
}
.guide_text::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: var(--color-main);
    transform: translateY(100%);
    transition: .2s;
}
.guide_item:hover .guide_img::before{
    transform: translateY(0);
}
.guide_item:hover .guide_text::before{
    transform: translateY(0);
}
.guide_item:hover .guide_text {
    color: white;
}
.blog_item,
.pack_item {
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid rgb(208, 208, 208);
}
.blog_item .blog_img{
    overflow: hidden;
}
.blog_item img,
.pack_item img{
    width: 100%;
    transition: .3s;
}
.blog_item:hover .blog_img img,
.pack_item:hover .pack_img img{
    transform: scale(1.1);
}
.blog_img .link_icon{
    font-size: 40px;
    font-weight: 900;
    opacity: 0;
    transition: .3s;
    z-index: 3;
}
.blog_item:hover .link_icon{
    opacity: 1;
}
.blog_img::after{
    content: "";
    position: absolute;
    width: 100%;
    top: 50%;
    bottom: 50%;
    left: 0;
    height: 0%;
    background-color: rgba(19, 54, 123, 0.4);
    transition: .3s;
    opacity: .7;
}
.blog_item:hover .blog_img::after{
    top: 0;
    bottom: 0;
    height: 100%;
    opacity: 1;
}
.blog_cels{
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    z-index: 3;
}
.blog_cels > *{
    padding: 10px;
}
.blog_cels i{
    color: var(--color-main) !important;
}
.blog_cels a{
    color: white;
    transition: .3s;
}
.blog_cels a:hover{
    color: blue;
}
.blog_text a{
    color: black;
    font-size: 24px;
    font-weight:500;
}
.pack_item .blog_cels i{
    color: white !important;
}
.buttom_links{
    background-color: var(--color-main);
    color: white;
    font-weight: 500;
}
.buttom_links a{
    color: white;
    transition: .3s;
}
.buttom_links a:hover{
    color: blue;
}
.pack_text i{
    color: var(--color-main);
}
.pack_offer{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--color-main);
    color: white;
    z-index: 3;
    font-size: 17px;
}
.pack_over_layer{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #13367b7b; */
    z-index: 3;
}
.pack_box{
    transition: .3s;
    width: 50px;
    height: 50px;
}
.pack_item:hover .pack_box{
    background-color: #13367b91;
    width: 100%;
    height: 100%;
}
.testimonial_box .testimonial_text{
    background-color: var(--ligth-gray);
    color:rgb(161, 161, 161);
    border-radius: 8px;
} 
.test_mid .testimonial_text{
    background-color: var(--color-main) !important;
    color: white !important;
}
.testimonial_img{
    margin: auto;
    margin-top: -50px;
    border: 3px dotted #13357B ;
    width: fit-content;
    border-radius: 50%;
}
.test_mid .testimonial_img{
    border: 3px dotted white  ;
}
.testimonial_box .stars i{
    color: var(--color-main);
}
.testimonial_img img{
    border-radius: 50%;
}
.testimonial .carousel .carousel-indicators  button{
    width: 5px;
    height: 5px;
    padding: 3px;
    background-color:white;
    border: 1px solid var(--color-main);
    border-radius: 50%;
    transform: translateY(50px);
    transition: .3s;
}
.testimonial .carousel .carousel-indicators .active{
    background-color: var(--color-main);
    width: 40px;
    border-radius: 8px;
}
.con-btn span:first-child{
    position: absolute;
    top: -30px;
    border: 1px solid var(--color-main);
}
footer .main-footer .link-group{
    display: flex;
    flex-direction: column;
    align-items: start;
}
footer .main-footer .link-group a{
    color:  white;
    /* display: block; */
    margin: 3px 0px;
    transition: .5s;
}
footer .main-footer .link-group a:hover{
    color: #13357B;
    letter-spacing: 2px;
}
footer .social_links{
    position: relative;
    left: unset;
    bottom: unset;
    transform: translate(0%);
    justify-content: start;
    align-items: center;
}
footer .social_links > i:first-child{
    font-size: 30px;
    margin-right: 10px;
}
footer .social_links a{
    width: 30px;
    height: 30px;
}
footer label{
    background-color: transparent !important;
}
@media (max-width: 768px) {
    .testimonial .carousel .carousel-inner:first-child,
    .testimonial .carousel .carousel-inner:last-child
    {
        display: none;
    }
}